@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open_sans/OpenSans-Light.ttf"),
    url("../assets/fonts/open_sans/OpenSans-Regular.ttf"),
    url("../assets/fonts/open_sans/OpenSans-Bold.ttf"),
    url("../assets/fonts/open_sans/OpenSans-SemiBold.ttf"),
    url("../assets/fonts/open_sans/OpenSans-ExtraBold.ttf");
}
:root {
  --primary-base: #4ed7e4;
  --neutral-light: #fff;
  --neutral-dark: #1a1e28;
  --second: #4553ff;
  --third: #4f40ff;
  --fourth: #25ddf5;
  --fifth: #1fa2ff;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   RESET CSS
*/
html,
body {
  overscroll-behavior-y: contain;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Open Sans";
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

body,
main {
  height: inherit;
}

/**FONT STYLES**/

h1 {
  margin-top: 4rem;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: var(--neutral-dark);
}
h2 {
  font-size: 3.157rem;
  font-weight: 600;
  color: var(--neutral-dark);
}
h3 {
  font-size: 2.369rem;
  font-weight: 600;
  color: var(--neutral-dark);
}
h4 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--neutral-dark);
  text-align: center;
}
p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
  color: var(--neutral-dark);
}
a {
  font-size: 1rem;
  font-weight: 800;
  color: var(--neutral-dark);
  letter-spacing: 0.125rem;
}
/**ELEMENT STYLES**/
body {
  line-height: 1;
  background-color: var(--neutral-light);
}

/**CLASS STYLES**/
.header-container {
  height: 100vh;
}
.banner-container {
  background-image: url("../assets/images/banner.jpg");
  background-size: cover;
  height: 35vh;
}
.image-outer-container {
  border-radius: 50%;
  transform: translateY(-55%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.image-inner-container {
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  height: 120px;
  border: 5px solid white;
}
.profile-image {
  width: 100%;
}
.work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.name-about-container {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
}
.hr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 3%;
}
.main-content-container {
  margin: 0 auto;
  max-width: 900px;
  height: 100vh;
}
.projects-list {
  padding: 2rem;
}
.description-container {
  margin: 3rem 0;
  text-align: left;
}
.about-container {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 2rem;
  margin-top: 3rem;
  margin-bottom: 0;
}
.link-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image {
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

/**BREAKPOINT STYLES**/

@media screen and (max-width: 599px) and (min-width: 0px) {
  h1 {
    font-size: 2.17rem;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  p {
    font-size: 1.05rem;
    line-height: 1.75rem;
  }
  .work-container {
    height: unset;
  }
}

@media screen and (max-width: 904px) and (min-width: 600px) {
  h1 {
    font-size: 2.77rem;
  }
  p {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}
