@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/open_sans/OpenSans-Light.ttf"),
    url("../assets/fonts/open_sans/OpenSans-Regular.ttf"),
    url("../assets/fonts/open_sans/OpenSans-Bold.ttf"),
    url("../assets/fonts/open_sans/OpenSans-SemiBold.ttf"),
    url("../assets/fonts/open_sans/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "Hylian Serif";
  src: url("../assets/fonts/hylian_sans/HyliaSerifBeta-Regular.otf");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   RESET CSS
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Hylian Serif";
}
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Open Sans";
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

body,
main {
  height: inherit;
}

/**FONT STYLES**/

h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  font-weight: 800;
  /* color: #e0fdfd; */
  /* text-transform: uppercase; */
  text-align: center;
  color: rgb(78, 215, 251);
}
h2 {
  font-size: 3.157rem;
  font-weight: 600;
}
h3 {
  font-size: 2.369rem;
  font-weight: 600;
}
h4 {
  font-size: 2rem;
  font-weight: 800;
  color: #4ed7fb;
}
p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
  color: #e0fdfd;
}
a {
  font-size: 1rem;
  font-weight: 800;
  color: #e0fdfd;

  letter-spacing: 0.125rem;
}
/**ELEMENT STYLES**/
body {
  line-height: 1;
  background-color: #1a1e28;
  margin: 0 auto;
  max-width: 900px;
}
hr {
  background-image: linear-gradient(
    to right,
    rgba(100, 100, 100, 0.2),
    rgb(78, 215, 251),
    rgba(100, 100, 100, 0.2)
  );
  /* background: #aef8fe; */
  height: 1px;
  border: none;
  width: 100%;
}
/**CLASS STYLES**/

.work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  padding: 0 1rem;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
.nav-container {
  width: 100%;
  text-align: center;
}
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center space-around;
}
.nav-item {
  transition: text-shadow 0.5s ease, color 0.5s ease, font-weight 0.5s ease,
    border-radius 0.5s ease, background 0.5s ease;
  transition: text-shadow 0.5s ease-out, color 0.5s ease, font-weight 0.5s ease,
    border-radius 0.5s ease, background 0.7s ease;
  /* border-bottom: 1px solid #628586; */
}

.nav-item:hover {
  text-shadow: 0px 0px 5px rgb(78, 215, 251);
  /* border-bottom: 1px solid rgb(175, 245, 247); */
  /* border-radius: 2px; */
  cursor: pointer;
  color: rgb(78, 215, 251);
  /* background: rgba(78, 215, 251, 0.2); */
}
.background-container {
  background-image: url("../assets/images/starwheel.svg");
  background-size: 180%;
  background-repeat: repeat;
}
.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.hr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 3%;
}
.main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-container {
  margin: 3.5rem 0;
  text-align: center;
}
.link-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* .link {
  transition: border 0.5s ease, color 0.5s ease, border-radius 0.5s ease;
} */
/* .link:hover {
  color: rgb(78, 215, 251);
} */
.image-container {
  cursor: pointer;
}

.image {
  border: 1px solid rgb(160, 236, 255);
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  width: 100%;

  border: 1px solid rgb(160, 236, 255);

  border-radius: 2px;
  transition: box-shadow 0.5s ease, border 0.5s ease;
}

.image:hover {
  box-shadow: 0px 0px 10px rgb(78, 215, 251);
}
/**BREAKPOINT STYLES**/

@media screen and (max-width: 599px) and (min-width: 0px) {
  h1 {
    font-size: 2.17rem;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  p {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
  .work-container {
    height: unset;
  }
}
@media screen and (max-width: 904px) and (min-width: 600px) {
  h1 {
    font-size: 2.77rem;
  }
}

:root {
  --background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  --first: #53f;
  --second: #4553ff;
  --third: #4f40ff;
  --fourth: #25ddf5;
  --fifth: #1fa2ff;
}
#stripes {
  width: 100%;
  height: 1vw;
  background: var(--background);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  transform: skewY(21deg);
  transform-origin: 0;
  z-index: -1;
  opacity: 0.2;
}

#stripes span:nth-child(1) {
  grid-column: span 1;
  background: var(--first);
}
